.filters {
    width: 80%;
    background-color: #202020;
    margin: 30px;
    border-radius: 15px;
}

.filters-box {
    padding-left: 20px;
    padding-right: 20px;
}

.filters-box p {
    padding-top: 20px;
    color: grey;
}

#drpBtn {
    background-color: #404040;
    border-color: #404040;
    margin-bottom: 10px;
}

.sCol {
    margin-top: 30px;
}

.prodH5 {
    color: grey;
}

.hr1 {
    width: 95%;
}

.list {
    width: 95%;
    background-color: #202020;
    padding: 20px;
    border-radius: 15px;
}

.listCard {
    height: 200px;
    background-color: #404040;
    border-radius: 7px;
    padding: 12px;
}

.ind {
    margin-right: 40px;
    background-color: transparent;
    border-style: none;
    font-size: 40px;
    color: white;
}

.ind1 {
    margin-left: 40px;
    background-color: transparent;
    border-style: none;
    font-size: 40px;
    color: white;
}

.listCard img {
    width: 90px;
    height: 80px;
    border-radius: 7px;
}

.span {
    color: grey;
    font-size: 14px;
}

.span1 {
    color: grey;
    font-size: 11px;
}
